.basic-layout {
  min-height: 100vh;
  background-color: $background-grey-light;
  background-size: cover;
  background-position: center;

  .content {
    background-color: $background-grey-light;
    height: calc(100vh - 130px);
    
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
